doctype html
html
  head
    title SimpleDoc test server
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Hello SimpleDoc!
    div
      h2 Existing documents:
      ul(data-bind="foreach: index")
        li(data-bind="text: $data")
    div
      h2 New document:
      div(data-bind="gpcSimpleDocEditor: { data: newdoc }")
      button(data-bind="click: saveDocument") Save
      script(src="/js/main.js")
  