doctype html
html
  head
    title SimpleDoc test server
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Hello SimpleDoc!
    div
      h2 Existing documents:
      ul(data-bind="foreach: index")
        li
          a(data-bind="text: tagline, click: load", href="#")
    div
      h2 Loaded document:
      div(data-bind="gpcSimpleDocEditor: { data: docEditor }")
      button(data-bind="click: saveCurrentDocument") Save currently loaded document
      script(src="/js/main.js")
  