doctype html
html
  head
    title SimpleDoc test server
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Hello SimpleDoc!
    div(data-bind="gpcSimpleDocEditor: { data: doc }")
    button(data-bind="click: saveDocument") Save
    script(src="/js/main.js")
  