.gpc-simpledoc-editor {

  box-sizing: border-box;
  //height: 100%;
  min-height: 5em;
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;
  background-color: #FFF;
  padding: 0.5em;
  
  p {
    background-color: #EEF;
    padding: 0.15em 0;
    margin: 0.1em 0;
  }
}

.gpc-simpledoc-document {

  background-color: white; 
  border: solid 1px #CCC;
  padding: 0.25em;
}
