head
  link(rel="stylesheet", href="style.css")
  script(src="main.js")
  
  //- Tabula Rasa templates -------------------------------
  
body
  div#gpc-simpledoc-editor
    div(data-bind="gpcSimpleDocEditor: $data")
