html {
}

body {

  font-family: sans-serif;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
  background-color: #DDD;
}

#tr-main-panel {

  box-sizing: border-box;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;
  background-color: #FFF;
  padding: 0.5em;
}

.gpc-simpledoc-document {

  background-color: white; 
  border: solid 1px #CCC;
  padding: 0.25em;
}

.gpc-simpledoc-node {

  > p {
    margin: 0.25em 0;
    outline: none;
  }
}